/* * {
    outline: 1px solid red;
} */
/* 
* 画面のスタイルシート
*/
.under-next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #626266;
    margin-top: 5px;
}

/* 
* [header]のスタイルシート
*/
.header-icon {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: baseline;
    border-bottom: medium solid #ff3333;
    margin-bottom: 0;
}

.header-icon li {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.header-icon p {
    margin-top: 0;
    margin-bottom: 0;
}

.header-icon a {
    padding: 0;
}

/* 
* [profile]のスタイルシート
*/
.box-profile {
    display: flex;
    position: relative;
    background-color: #f5f5f5;
    height: 800px;
}

.box-profile img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    flex: 1 1 auto;
    object-fit: contain;
}

.myname {
    margin-left: 100px;
    position: relative;
    z-index: 1;
}

.myname h1 {
    font-size: 150px;
    margin: 0;
    font-family: -webkit-pictograph;
    color: #626266;
}

.myname h2 {
    margin: 0;
    font-size: 45px;
    font-weight: lighter;
    color: #ff3333;
}

.myname h2:last-child {
    /* position: absolute; */
}

/* 
* [about]のスタイルシート
*/
.box-about {
    text-align: center;
    background-color: #ff3333;
    padding-bottom: 30px;
}

.box-about .under-next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5px;
}

.item-list {
    /* max-width: 590px; */
    /* margin: 0 auto; */
    /* width: 100%; */
}

.box-about h2 {
    font-size: 30px;
    margin: 0;
    padding: 40px 0 0 0;
    color: white;
    font-family: -webkit-pictograph;
}

.item-list span {
    font-size: 5px;
}

.item-list img {
}

.item-list p {
    color: white;
    font-size: 15px;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.icon-list li {
    margin-right: 30px;
}

.icon-list li:last-child {
    margin-right: 0;
}

/* 
* [projects]のスタイルシート
*/
.box-projects {
    text-align: center;
}

.box-projects .item-list {
}

.box-projects .item-list h2 {
    font-size: 30px;
    margin: 0;
    padding: 40px 0 0 0;
    color: #ff3333;
    font-family: -webkit-pictograph;
}

.clone-list {
    display: flex;
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 50px auto;
    padding: 0;
}

.clone-list b {
    font-weight: normal;
    font-size: 25px;
    font-family: -webkit-pictograph;
    color: #626266;
    display: block;
    margin: 20px 5px;
}

.clone-list hr {
    padding: 10px;
}

.clone-list p {
    margin: 0;
    color: #626266;
}

.clone-list .test-account {
    margin: 30px;
}

.clone-list ul {
    margin: 0 auto;
}

.clone-list li {
    display: block;
    width: 100%;
}

.clone-list li:last-child {
}

.clone-list li img {
    border: 1px solid #ff3333;
    padding: 30px;
}

.clone-list li .link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clone-list li .link a {
    background-color: #ff3333;
    padding: 5px 20px;
    margin-right: 15px;
    text-decoration: none;
    color: white;
    font-family: -webkit-body;
}

/* 
* [contact]のスタイルシート
*/
.box-contact {
    text-align: center;
}

.box-contact h2 {
    font-size: 30px;
    margin: 0;
    padding: 40px 0 0 0;
    color: #626266;
    font-family: -webkit-pictograph;
}

.box-contact h2 span {
    font-size: 30px;
    color: #ff3333;
}

.contact-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.contact-list li {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px 50px;
    background-color: #eeeeee;
    border-bottom: medium solid #ff3333;
}

.contact-list li p {
    color: #626266;
}

.contact-list .email-last {
    color: #ff3333;
    margin-bottom: 0;
}

.email-area hr {
    margin-top: 0;
}

/* 
* [footer]のスタイルシート
*/
.block-footer p {
    clear: both;
    text-align: center;
    font-size: 15px;
    margin: 100px 0 0;
    padding: 30px;
    background-color: #eeeeee;
    color: #626266;
}